 body{
	background-color:royalblue;
	justify-content: center;
	margin-top:10%;
	 
}
.page2{
    position:fixed;
     display:none;
       } 
.login1{
          margin-left:20%;
          color:white;
          box-sizing:border-box;
          height:20%;
          width: 70%;
          margin-bottom:8%;
          text-align-last: center;
           
           }
button{        
          background-color:green; 
          color:white;
          box-sizing:border-box;
          text-align: center;          
           }
.logout{
        margin-left:246%;            
              }   
button:hover{
	opacity:0.5;
}
  
input{
box-sizing:border-box;
width:300px;
height:40px
}

a{
text-decoration:none;
}

.login1{
  display:none;
  }

.pwd{
cursor: pointer;
width:500px;
margin:-13px;
display: inline-block;
box-sizing: border-box;
text-align-last: center;
 margin-left:-33.5%;
}

.acc{
cursor: pointer;
width:500px;
margin:31px;
display: inline-block;
box-sizing: border-box;
text-align-last: center;
 margin-left:-29%;
}

.frgpsd {
text-align-last: right;
font-size: 20px;
margin-left:-47%;
}

.close{
     display:flex;
     float:right;
     height:4%;
     width:4%;
     background-color:white;
     font-size:20px;
     color:black;
     }
     .close1{
     display:flex;
     float:right;
     height:4%;
     width:4%;
     background-color:white;
     font-size:20px;
     color:black;
     }
.submit{
     height:20%;
     width:20%;
     border-radius:15px;
     background-color:hotpink;
     color:black;
     margin-left:-31%;
     margin-top:4%;
     margin-bottom:2%;
   }
   
label{
           font-size:60px;
           font-weight:bold;
           color:#edf5ee;
           margin-left:-21%;
         }
    
h1{
    font-size:60px;
    font-weight:bold;
    color:#edf5ee;
    margin-left:28%;
  }   
        
h2{
     font-size:40px;
     font-weight:bold;
     color:#a79bcf;
        }
h3{
     font-size:30px;
     font-weight:bold;
     color:#edebf2;
         }
.accName{
         margin-left:100px;
        }
             
.balance{
          margin-left:100px;
        }   
 .frst{
    margin:23px;
    height:5%;
    width:20%;
    }
    
.secnd{
    height:10%;
    width:40%;
    margin:23px;
    }
      
.third{
    height:5%;
    width:20%;
    margin:23px;
    }
      
      
.loginBtn{
  background:green;
  width:224px;
  height:79px;
  color:white;
  font-size:30px;
  border-radius:15px;
  margin-left:38%;
  margin-top:inherit;
  
  }
 
 .container{
          margin-left:170%;
          margin-top:-328px;
          padding:3%;
          }
.withdrawContainer{
          
           padding:200px;
           background:rgb(0,0,0);
           background:rgba(0,0,0,0.5);
           }

.depositContainer{
          
           padding:200px;
           background:rgb(0,0,0);
           background:rgba(0,0,0,0.5);
           }

.withdrawClose{
    height:10%;
    width:20%;
     font-Size:25px;
     margin-top:3%;
     margin-left:34%;
     }

.depositClose{
      height:10%;
      width:20%;
     font-Size:25px;
     margin-top:3%;
     margin-left:34%;
     }
.depositSec{
                display:none;
                }
                
.withdrawlSec{
                display:none;
                }
.transactionSec{
             display:none;
             }
table{
    height:30%;
    width:50%;
    background-color:green;
    border:1px solid white;
    color:white;
    font-weight:bold;
    font-size:26px;
    }
    
.transactionClose{
    margin-top:5%;
     width:15%;
     height:10%;
     background-color:red;
     margin-left:35%;
     }

.back{
       background-color:white;
       }

.depositType{
             width:25%;
             height:8%;
            margin-left:32%;
             }
.withdrawType{
             width:25%;
             height:8%;
             margin-left:32%;
           }

.deposit{
      height:70px;
      width:200px;
      background-color:purple;
      }

 .withdrawl{
      height:70px;
      width:200px;
      background-color:purple;
      }

 .transaction{
      height:70px;
      width:200px;
      background-color:purple;
      }

.validationBox{
       text-align-last: center;
}
.validationClose{
             color:black;
             font-size:15px;
             background-color:white;
             float:right;
             }
.withdrawHistory{
             float:left;
      }
.depositHistory{
         float:right;
         }

















       
       

   
  
