*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
 body{
    
    width:100%;
 }
 .homepage{
    display:flex;  
 }  
.sidebar{
  width:30%;
  float:left;
  background:pink;
  height:1100px;
  
}
.rightbar{
    width:70%;
    height:1100px;
    background-color: whitesmoke;
    float:right;
}
.digiency{
    padding:10%;
}
.logo{
    position:absolute;
    width:186px;
    height:50px;
    left:110px;
}
 li{  
list-style-type: none;
height:30%;
font-weight: 500px;
font-size: 30px;
padding:20px 0px;
text-align:center

}
.table{
    display:none;
}
li :hover{
    background-color: #FF5300;
    cursor:pointer;
}  
.tableheading{
    margin-top:10%;
    text-align:center;
    color: #FF5300;
}
table,thead{
    width:100%;
    font-weight:bold;
    font-size:24px;
    margin-top:7%;
}
tr{
    width:100%;
    font-weight:bold;
    font-size:16px;
}
.service_image{
    height:50px;
}
td,th{
    padding:5px;
    text-align:center;
    width:18%;
    border-bottom:1px solid #FF5300;
}
.addBtn{
    padding:15px 3px;
    align-content:center;
    width:30%;
    height:50px;
    background-color:#FF5300;
    color:black;
    border-radius: 30px;
    margin-top:50px;
}
form{
    height:1070px;
   background:rgb(149, 207, 244) ;
}
input{
    width:30%;
    border-radius:30px;
    margin-top:20px;
    padding:2%;
    font-size:25px;
}